POSTGRES_DB=hrsys
POSTGRES_USER=hrsys
POSTGRES_PASSWORD=hrsys_dev_pass
POSTGRES_HOST=db
POSTGRES_PORT=5432
REDIS_URL=redis://redis:6379/0
DJANGO_SECRET_KEY=change-me-in-production
DJANGO_SETTINGS_MODULE=config.settings.local
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1
